<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab | @ViewBag.Title </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <!--Navbar-->
        <nav class="deep-purple darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    @Html.ActionLink("Lab", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @*Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </nav>
        <!--Navbar-->
        <!--Content-->
        <div class="container">
            @RenderBody()
        </div>
        <!--Content-->
        <!--Footer-->
        <footer class="page-footer deep-purple darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer> 
        <!--Footer-->
        @Scripts.Render("~/Scripts/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
