@model IEnumerable<App.Models.Noticia>
@{
    ViewBag.Title = "Index";
}

<h2>Rotas em ASP</h2>

<div>
    <ul>
        @foreach (string item in ViewBag.Categorias)
        {
            <li>@Html.ActionLink(item, "MostraCategoria", "Noticia", new { @categoria = item }, null)</li>
        }
    </ul>
</div>

<div>
    <ul>
        @foreach(var i in Model)
        {
            <li>
                @Html.ActionLink(i.Titulo, "MostraNoticia", new {
                   @id = i.Id,
                   @categoria = i.Categoria,
                   @titulo = i.Titulo
                }, null)

               <em>@Html.DisplayFor(m => i.Categoria)</em>
               <em><b>@Html.DisplayFor(m => i.Data)</b></em>
           </li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Todas Noticias", "TodasAsNoticias", "Noticia")
</div>



